# dependencies
node_modules/
.pnp*
.pnp.js
.npmrc

# builds
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / system files
.vscode/
.idea/
.DS_Store
*.swp

# env files
.env
.env.*
!.env.example

# misc
coverage/

# ignore all files in public
/public/*
# EXCEPTION: ALLOW NETLIFY REDIRECTS FILE
!/public/_redirects

# keep public folder itself (empty)
/public/.gitkeep